<footer >
    <div class="row bg-warning" [ngClass]="{'modoOscuro':oscuro}">
        <div class="col-2"></div>
        <div class="col-8 texto">
            <p class="titulo">PROYECTO REALIZADO POR:</p>
            <p class="info"><span class="negrita">Ape_Nom:</span> Nardelli Luciano</p>
            <p class="info"><span class="negrita" style="margin-left: 15px;">Email:</span> nardelli96@gmail.com</p>
            <p class="info"><span class="negrita" style="margin-left: -25px;">Redes:</span>
               
                
                <a href="https://www.facebook.com/" target="_blank" class="facebook">
                    <mat-icon svgIcon="facebook"></mat-icon>
                </a>
                <a href="https://www.twitter.com" target="_blank" class="twitter">
                    <mat-icon svgIcon="twitter"></mat-icon>
                </a>
                <a href="https://www.instagram.com" target="_blank" class="instagram">
                    <mat-icon svgIcon="instagram"></mat-icon>
                </a>
                <a href="https://www.github.com" target="_blank" class="github">
                    <mat-icon svgIcon="github"></mat-icon>
                </a>
                <a href="https://www.linkedin.com" target="_blank" class="linkedin">
                    <mat-icon svgIcon="linkedin"></mat-icon>
                </a>

            </p>
            <p class="copy">© Copyright Todos los derechos reservados</p>
        
        </div>
        <div class="col-2"></div>
    </div>
</footer>
