.logo{
    width: 100px;
    height: 80px;
    
}
.menu {
    margin-top: 20px; 
    margin-right: 5px;
    padding: 10px 5px;
    font-weight: bold;
}
.menuMenor {
    margin-top: 10px;
}
.mover{
    margin-top: 20px;
    
}
.modoOscuro  mat-toolbar{
    background-image: linear-gradient(0deg, #202C66 0%, rgba(34, 41, 77, 0) 90.78%);
    background-color: #000000;
}

